.comment-details-container {
  display: none;
  flex-direction: column;
  overflow: hidden;
  font-size: 1rem;
}

.comment-details-for-file {
  padding: 0 0.8em;
  cursor: pointer;
  transition: background-color 0.2s ease;
  background-color: var(--comment-detail-background);
  border: 1px solid var(--comment-detail-border);
  margin-top: 0.5em;
  border-radius: 0.5em;

  &:hover {
    background-color: var(--comment-detail-background-hover);
    cursor: pointer;
    border: 1px solid var(--comment-detail-border);
    border-radius: 0.5em;
  }

  .comment-text {
    color: var(--comment-detail-text-color);
    font-size: 0.95rem;
    margin-bottom: 0.3rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .comment-file {
    font-size: 0.85rem;
    color: var(--comment-detail-filename-color);
    word-break: break-all;
  }
}

.arrow {
  border: solid var(--comment-detail-text-color);
  border-width: 0 2px 2px 0;
  display: inline-block;
  padding: 4px;
  margin-left: 5px;
  transform-origin: center;
  transition: transform 0.2s ease;
}

.right {
  transform: rotate(-45deg);
}

.down {
  transform: rotate(45deg);
}