.comments-actioned-container {
  width: 100%;
  display: flex;
}

.comments-actioned {
  font-size: 1.2rem;
  margin-bottom: 0.6rem;
  font-weight: 400;
  background-color: #4169E1;
  color: white;
  padding: 0.1em 0.6em;
  border-radius: 2em;
}